{{#if @outletArgs.user.discourse_size_main_character}}
  <div class="discourse-size-user-card">
    <span class="user-stat">
      <span class="value">
        {{@outletArgs.user.discourse_size_main_character.name}}
        ({{format-size @outletArgs.user.discourse_size_main_character.current_size @outletArgs.user.discourse_size_main_character.measurement_system}})
      </span>
    </span>
  </div>
{{/if}}
