<div class="control-group discourse-size-preferences">
  <label class="control-label">{{i18n "discourse_size.preferences.title"}}</label>
  <div class="controls">
    <div class="preference-row">
      <label class="control-label">{{i18n "discourse_size.preferences.measurement_system"}}</label>
      {{combo-box
        content=this.measurementOptions
        value=this.measurementSystem
        onChange=this.onChangeMeasurement
      }}
    </div>
  </div>
</div>
