{{#if shouldShow}}
  <div class="discourse-size-daily-reward-notice">
    <a href="/size/shop" class="discourse-size-daily-reward-notice-link">
      {{i18n "discourse_size.shop.collect_reward_notice"}}
    </a>
    <div class="discourse-size-daily-reward-notice-controls">
      <DButton @icon="xmark" @action={{dismissNotice}} class="btn-default" />
      <DButton @href="/my/preferences/interface" class="btn-default">
        Hide forever
      </DButton>
    </div>
  </div>
{{/if}}