{{! Display the user's size on their full profile page, if present }}
{{#if model.size_display}}
  <div class="discourse-size-field">
    <span class="discourse-size-label">
      {{i18n "discourse_size.size_label"}}
    </span>
    <span class="discourse-size-value">
      {{model.size_display}}
    </span>
  </div>
{{/if}}

